HELP.md
target/
*.jar
*.war
*.ear

# Maven
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Environment and Secret Files
.env
.env.*
.env.local

# Log Files
*.log
logs/

# IDE and Editor Files
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath
.apt_generated
.factorypath
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# OS Temporary Files
.DS_Store
Thumbs.db
*.tmp
*.temp
